#main{
	position: absolute;
	/* width:50%; */
	left:0;
	right:0;
	margin:auto;
	text-align:center;
}

.url{
	width: 50%;
}

#allWords {
	display: flex;
	font-weight: bold;
	font-size: 2em;
	justify-content: center;
}

#allWords .prev span,
#allWords .next span{
	margin-right: 1em;
}

#wordDisplay{
	flex-basis: 0.5;
}

#wordDisplay span:nth-child(2){
	color: red;
}