#main{
	position: absolute;
	/* width:50%; */
	left:0;
	right:0;
	margin:auto;
	text-align:center;
}

.url{
	width: 50%;
}

#allWords {
	display: flex;
	font-weight: bold;
	font-size: 2em;
	justify-content: center;
}

#allWords .prev {
	justify-content: flex-end;
	/* flex-direction: row-reverse; */
	display: flex;
	flex-wrap: wrap-reverse;
}

#allWords .next {
	justify-content: flex-start;
}

#allWords .prev span,
#allWords .next span{
	margin-right: 1em;
}

#wordDisplay{
	flex-basis: 5em;
	flex-grow: 2;
}

#wordDisplay span:nth-child(2){
	color: red;
}